body {
    background-color: #2e3440;
    color: #d8dee9;
}

h1 {
    color: #d8dee9;
}

.content {
    text-align: center;
    margin:10px;
}

.laps-container {
    background-color: #434c5e;
    border: 2px solid #eceff4;
}